@page
@model LoginModel

@{
    ViewData["Title"] = "Connexion";
}
<!-- Current Page CSS -->
<link href="~/smartforms/Templates/css/smart-forms.css" rel="stylesheet"/>
<div class="page body-sign">

    <div class="page-inner p-none no-border">

        <section class="section-big">

            <div class="container">
                <div class="row">

                    <div class="col-md-6 offset-md-3">

                        <div class="smart-wrap">
                            <div class="smart-forms smart-container wrap-3">
                                <form id="account" method="post">
                                    <div class="form-body">
                                        <div asp-validation-summary="All"></div>
                                        <div class="spacer-b30">
                                            <div class="tagline">
                                                <span> inscris-toi </span>
                                            </div><!-- .tagline -->
                                        </div>

                                        <div class="section text-center">
                                            <a a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary">
                                                <span>
                                                    <i class="fa fa-sign-in"></i>
                                                </span> S'inscrire
                                            </a>

                                        </div><!-- end section -->

                                        <div class="spacer-t30 spacer-b30">
                                            <div class="tagline">
                                                <span> Ou connecte-toi </span>
                                            </div><!-- .tagline -->
                                        </div>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input asp-for="Input.Email" class="form-control gui-input" autofocus/>
                                                <span class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="section">
                                            <label class="field prepend-icon">
                                                <input asp-for="Input.Password" class="form-control gui-input" autofocus/>
                                                <span class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="section">
                                            <div class="switch block">
                                                <label class="switch block">
                                                    <input asp-for="Input.RememberMe" class="form-control gui-input" checked/>
                                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    <span class="switch-label" for="remember" data-on="OUI" data-off="NON"></span>
                                                </label>
                                            </div>
                                        </div>


                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié ?</a>
                                        </p>
                                    </div><!-- end .form-body section -->
                                    <div class="form-footer">
                                        <button type="submit" class="button btn-primary">CONNEXION</button>
                                    </div><!-- end .form-footer section -->

                                </form>

                            </div><!-- end .smart-forms section -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-primary main-color">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="200">
                            <i class="fa fa-cogs v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3>Découvrir</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="400">
                            <i class="fa fa-compress v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3>Rechercher</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="600">
                            <i class="fa fa-fire v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3>Alerter</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="800">
                            <i class="fa fa-comments-o v-icon icn-holder medium"></i>
                            <div class="feature-box-text">
                                <h3>Partager</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}