@page
@using AspNetCore.ReCaptcha
@model RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

@section Styles
{
    <link href="~/smartforms/Templates/css/smart-forms.css" rel="stylesheet"/>
}


<div class="page body-sign">

    <div class="page-inner p-none no-border">

        <section class="section-big">

            <div class="container">
                <div class="row">

                    <div class="col-md-6 offset-md-3">

                        <div class="smart-wrap">
                            <div class="smart-forms smart-container wrap-3">
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div class="form-body">
                                        <div class="spacer-t30 spacer-b30">
                                            <div class="tagline">
                                                <span> Infos de connexion </span>
                                            </div><!-- .tagline -->
                                        </div>

                                        <div class="section">
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            <label asp-for="Input.Email" class="field prepend-icon">
                                                <input asp-for="Input.Email" class="form-control"/>
                                                <span class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="section">
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                    <label asp-for="Input.Password" class="field prepend-icon">
                                                        <input asp-for="Input.Password" class="form-control"/>
                                                        <span class="field-icon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="section">
                                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                    <label asp-for="Input.ConfirmPassword" class="field prepend-icon">
                                                        <input asp-for="Input.ConfirmPassword" class="form-control"/>
                                                        <span class="field-icon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="spacer-t30 spacer-b30">
                                            <div class="tagline">
                                                <span> Qui es-tu ? </span>
                                            </div><!-- .tagline -->
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="section">
                                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                                    <label asp-for="Input.FirstName" class="field prepend-icon">
                                                        <input asp-for="Input.FirstName" class="form-control"/>
                                                        <span class="field-icon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="section">
                                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                                    <label asp-for="Input.LastName" class="field prepend-icon">
                                                        <input asp-for="Input.LastName" class="form-control"/>
                                                        <span class="field-icon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="spacer-t30 spacer-b30">
                                            <div class="tagline">
                                                <span> un peu de sécurité </span>
                                            </div><!-- .tagline -->
                                        </div>
                                        <div class="section">
                                            @Html.ReCaptcha()
                                        </div>

                                    </div><!-- end .smart-forms section -->

                                    <div class="form-footer">
                                        <button type="submit" class="button btn-primary">S'INSCRIRE</button>
                                    </div><!-- end .form-footer section -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}