<!DOCTYPE html>
<html>
<head>
    <partial name="Head"/>
    <title>
        @ViewData["Title"]
        @((string)ViewData["Title"] != "" ? "| " : " ")portlamontagne.fr | Ça grimpe autour de Toulon !
    </title>
    @await RenderSectionAsync("Styles", false)

</head>
<body>
<!--Header-->
<partial name="Headerbody"/>
<!--End Header-->
<div class="wrapper">
    <div flashes></div>

    @RenderBody()

</div>

<partial name="Footer"/>
<partial name="Scripts"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>