<!--Footer-Wrap-->
<footer class="footer footer-wrap">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="list-inline fs-13 mb-none">
                        <li>
                            <p class="mb-0 fw-6">© 2020 PortLaMontagne - Version 1.0.3</p>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href="">Politique de confidentialité</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-Wrap-->